$primary-color: #F97690;
$secondary-color: #F9F66F;//#A31F3A;
$boxes-color: rgba(182, 15, 46, 0.78);
$text-color: #FFE1E7;
$text-color-darker: #992E44;
$icons-color: #8EBDE9;
$bg-opacity: 0.8;
$home-img-visible: true;
$home-img: url(../img/painting-background.JPG);

@mixin fading {
  transition: all 0.7s ease-out;
}

@mixin background {
  @if $home-img-visible {
    &#bg-img {
      background: $home-img;
      background-attachment: fixed;
      background-size: cover;


      // we could also use &:after
      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $bg-opacity);
      }
    }
  }
}

// Set text color
@function text-color-setting($color) {
  @if (lightness($color) > 45) {
    @return #992E44;
  } @else {
  @return $text-color;
}
}
// Media queries (for responsiveness)
@mixin smMedia {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mdMedia {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin lgMedia {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin xlMedia {
  @media screen and (min-width: 1171px) {
    @content;
  }
}