// X-Large devices (widescreens)
@include xlMedia {

}

// Large devices (laptops/desktops)
@include lgMedia {

}

// Medium devices (landscape tablets & small laptops)
@include mdMedia {
  main {
    align-items: center;
    text-align: center;

    .heading-lg {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-sideleft {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    font-size: 23px;
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
  }

  .menu-sideleft {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .picture {
      background: url('../assets/img/menu-picture_sm.jpg');
      width: 120px;
      height: 120px;
    }
  }

  .about-me {
    grid-template-areas:
    'bioimg'
    'bio'
    'job'
    'skills'
    'perso';
    grid-template-columns: 1fr;
  }
}

// Small devices (portrait tablets & phones)
@include smMedia {
  main#home h1 {
    margin-top: 10vh;
  }
}
